.hero-layout {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    position: relative;
    width: 100%;
    color: #F0F5EF;
}

.notebook {
    margin-bottom: -240px;
    width: 900px;
}

.circle {
    min-width: 432px;
    max-width: 432px;
    min-height: 60px;
    max-height: 60px;
    border-radius: 100px;
    border: 2px dashed #081704;
    position: absolute;
    top: 276px;
    right: 172px;
}

.dashBorder {
    padding: 0px 12px 6px 12px;
    background: 
        linear-gradient(#081704, #081704) padding-box,
        linear-gradient(0deg, #AD579A, #DF9FD1) border-box;
    border: 6px solid transparent;
    border-radius: 24px;
    width: fit-content;
    margin-left: 2px;
    margin-right: 6px;
    white-space: nowrap;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .notebook {
        width: 100%;
        height: auto;
        margin-bottom: -240px;
    }

    .textWrapper {
        padding: 0px 16px;
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 800px) {
    .notebook {
        margin-bottom: -180px;
    }
}

@media screen and (max-width: 620px) {
    .notebook {
        margin-bottom: -160px;
    }
}

@media screen and (max-width: 490px) {
    .notebook {
        margin-bottom: -120px;
    }
}

@media screen and (max-width: 420px) {
    .notebook {
        margin-bottom: -96px;
    }
}

.name-title {
    color: #CCE5C5;
    margin-top: 24px;
}

.pink-gradient {
    background: linear-gradient(0deg, #AD579A, #DF9FD1);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.green-gradient {
    background: linear-gradient(0deg, #38FF00, #F1F9EF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


