.heroLayout {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: -24px;
}

.notebook {
    margin-bottom: -240px;
    width: 900px;
}

.circle {
    min-width: 432px;
    max-width: 432px;
    min-height: 60px;
    max-height: 60px;
    border-radius: 100px;
    border: 2px dashed #081704;
    position: absolute;
    top: 276px;
    right: 172px;
}

.dashBorder {
    padding: 2px 12px 8px 12px;
    border-radius: 100px;
    border: 4px dashed #507C45;
    width: fit-content;
    margin-left: 2px;
    margin-right: 6px;
    white-space: nowrap;
    box-sizing: border-box;
    color: #507C45;
}

@media screen and (max-width: 900px) {
    .notebook {
        width: 100%;
        height: auto;
        margin-bottom: -240px;
    }

    .textWrapper {
        padding: 0px 16px;
        width: 100%;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 800px) {
    .notebook {
        margin-bottom: -180px;
    }
}

@media screen and (max-width: 620px) {
    .notebook {
        margin-bottom: -160px;
    }
}

@media screen and (max-width: 490px) {
    .notebook {
        margin-bottom: -120px;
    }
}

@media screen and (max-width: 420px) {
    .notebook {
        margin-bottom: -96px;
    }
}
