.mobile-menu-button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 50;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: rgb(64,72,62,0.6);
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    width: 48px;
    height: 48px;
    border: none;
  }

  .menu-icon {
    height: 24px;
    width: auto;
    color: #F0F5EF;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 40;
  }

  .mobile-nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 40;
    background-color: #40483E;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    border-radius: 0px 0px 24px 24px;
  }

  .menu-open {
    transform: translateY(0);
  }

  .menu-closed {
    transform: translateY(-100%);
  }

  .nav-list {
    padding: 24px 24px 64px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .nav-item {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    border-radius: 20px;
    padding: 24px 32px;
    cursor: pointer;
    background-color: #40483E;
    color: #F0F5EF;
    box-shadow: 0px 4px 8px 0px rgb(0,0,0,0.4);
    width: fit-content;
    border: none;
  }

  .mobile-selected {
    background-color: #081704;
    box-shadow: 0px 4px 8px 0px rgb(0,0,0,0.4);
  }

  .nav-link {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    font-family: "Poetsen One", sans-serif;
    color: #F0F5EF;
  }

  .nav-link:hover {
    color: #666;
  }

  @media (min-width: 600px) {
    .mobile-menu-button,
    .menu-overlay,
    .mobile-nav-menu {
      display: none;
    }
  }

  .contact-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
  }

  .contact-link {
    font-family: "Poetsen One", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: #CCE5C5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }