.navLayout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    flex-wrap: wrap;
}

.navMobileLayout {
    display: none;
    width: 100%;
}

.navMobileTop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    box-sizing: border-box;
}

.linkLayout {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    color: #40483E;
    transition: background-color 0.4s ease;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 100px;
    text-decoration: none;
}

.linkLayout:hover {
    background-color: #B9B295;
}

@media screen and (max-width: 600px) {
    .navLayout {
        display: none;
    }

    .navMobileLayout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        width: "100%";
    }

    .tabContainer {
        margin-bottom: -96px;
        z-index: 3;
        box-shadow: 0px 4px 4px 0px rgb(222,215,183,0.5);
    }

    .links {
        /* width: fit-content;
        min-width: none;
        max-width: none; */
        display: none;
        /* margin-top: -24px; */
        /* margin-bottom: 24px; */

    }
}

.signature {
    flex-direction: row;
    align-items: flex-start;
    min-width: 214px;
    max-width: 214px;
}

.links {
    display: flex;
    flex-direction: row;
    min-width: 214px;
    max-width: 214px;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.tabContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    border-radius: 100px;
    background-color: #DED7B7;
    padding: 6px 8px;
}

.tabSelected {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    border-radius: 100px;
    padding: 10px 16px;
    cursor: pointer;
    background-color: #081704;
    color: #F0F5EF;
}

.tabNotSelected {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    border-radius: 100px;
    background-color: #DED7B7;
    transition: background-color 0.4s ease;
    padding: 10px 16px;
    cursor: pointer;
    color: #40483E;
}

.tabNotSelected:hover {
    background-color: #B9B295;
}

