.sectionOuter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
    padding: 96px 48px;
    color: #081704;
}

.light {
    background-color: #F4F2E9;
}

.dark {
    background-color: #081704;
    color: #F0F5EF;
}

.sectionInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 96px;
    max-width: 600px;
}

.subSection {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 100%;
}

.imageSection {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    width: 100%;
}

.alignLeft {
    align-items: flex-start;
}

.imageLayout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.bigImage {
    width: 150%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .sectionOuter {
        gap: 64px;
        padding: 64px 24px;
    }

    .sectionInner {
        gap: 48px;
        width: 100%;
    }

    .imageSection {
        gap: 32px;
    }

    .imageLayout {
        gap: 16px
    }

    .bigImage {
        width: 100%;
        height: auto;
    }
}

.comparison {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: 1248px;
    flex-wrap: wrap;
    margin-top: 24px;
}

.compItem {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.compMobile {
    width: 400px
}

@media screen and (max-width: 1248px) {
    .comparison {
        width: 100%;
        flex-direction: column;
    }

    .compItem {
        width: 100%;
    }

    .compMobile {
        width: 100%;
    }
}