.finalScreenshotsSection {
    background-color: #FFFFFF;
}

.bigScreenshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
    max-width: 960px;
}

@media screen and (max-width: 768px) {
    .bigScreenshot {
        gap: 16px;
    }
}
