.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 190px;
}

.page {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-left: 190px;
}

.caseStudyContent {
  display: flex;
  gap: 80px;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.header {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

.header2 {
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
}

.subHeader {
  font-size: 24px;
  line-height: 24px;
  font-weight: bold;
}

.label {
  font-size: 14px;
  font-weight: medium;
  color: "#808080"
}

.caption {
  font-size: 20px;
  color: #808080;
  font-style: italic;
  line-height: 28px;
  text-align: center;
}

.bigContent {
  font-size: 20px;
  line-height: 30px;
}

.bigQuote {
  font-size: 32px;
  font-style: italic;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
  gap: 40px;
}

.deepDive {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  gap: 40px;
  background-color: #282738;
  padding: 48px;
  border-radius: 20px;
  color: white;
}

.section .cases {
  max-width: none;
}

.subSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bullet {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.caseStudies {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.screenshot {
  outline: 2px solid #d5d5d5;
  border-radius: 16px;
}